<div class="row">
  <% posts.each do |post| %>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
      <div class="post">
        
        <div class="panel panel-default">
          
          <div class="panel-heading text-center">
            <div class="post-title">
              <%= link_to post.title, post_path(post) %>
            </div>
          </div>
          
          <div class="panel-body">
            
            <div class="img">
              <% if post.img? %>
                <%= image_tag post.img.url %>
              <% else %>
                <%= image_tag "default.png" %>
              <% end %>
            </div>
            
            <div class="panel-footer">
              
              
              <div class="post-content">
                <%= link_to "コメントを見る", post_path(post) %>
              </div>
              
              <div class = "delete-btn">
                <% if current_user == post.user %>
                  <%= link_to "Delete", post, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-xs' %>
                <% end %>
              </div>
              
              <div class="post-icon">
                <img class="media-object img-rounded" src="<%= gravatar_url(post.user, { size: 20 }) %>" alt="">
                <%= link_to post.user.name, user_path(post.user) %>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
  <% end %>
  <%= paginate posts %>
</div>